<footer>
        <div class="footer-branding foot-logo">
           
                <h2 class="footer-title my-3">Sandrine Coupart</h2>
           
        </div>
        <div class="footer-contact-link my-3 mt-5">
            <ul class="contact-link">
                <li><a href="/">Accueil</a></li>
                <li><a href="/">Recette</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="{{ path('app_mention_legales')}}">Mentions légales</a></li>
                <li><a href="{{ path('app_privacite')}}">Politique de confidentialité</a></li>  
	              </ul>
	            </li>
            </ul>
        </div>
        <div class="footer-branding">
            <p>Copyright © Sandrine Coupart -2023</p>
        </div>
    </footer>