@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,500&family=Parisienne&family=Roboto:ital,wght@0,500;0,700;0,900;1,400;1,500;1,900&display=swap');/*Footer*/

.footer {
    background-color: #fae8d2;
    color: black;
    width: 100%;
    bottom: 0px;
    left: 0;
    height: 100%;
    margin-top: 150px;
}

.footer-titre .footer-title {

    font-family: "Parisienne";
    font-weight: bold;
    color: #46d40d;
    font-family: 70px;

}

p a:link{
    
text-decoration: none
}

.footer-titre .footer-title {

    font-family: "Parisienne";
    font-weight: bold;
    color: #46d40d;
    font-family: 70px;

}

.footer-title .my-3 .footer-titre .my-3{

    margin-top: 150px;
}



