{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
    <h1>Ajouter une Recette</h1>

    {{ include('recipe/_form.html.twig') }}

    <a href="{{ path('app_recipe_index') }}">back to list</a>
{% endblock %}
